<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <!-- fontawesome link -->
    <script
      src="https://kit.fontawesome.com/7427371865.js"
      crossorigin="anonymous"
    ></script>

    <!-- {% load static %} {# Main CSS #} -->
    <link rel="stylesheet" href="style.css" />
    <!-- {# Mobile responsive #} -->
    <link rel="stylesheet" href="media queries.css" />
  </head>
  <body>
    <!-- {# NAVIGATION DESIGN #} -->
    <nav id="nav-bar">
      <div class="logo">Bryium Onyancha</div>
      <div>
        <ul class="nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>

    <!-- {# HAMBURGER MENU #} -->
    <nav id="hamburger-nav">
      <div class="logo">Bryium Onyancha</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#about" onclick="toggleMenu()">About</a></li>
          <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
          <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </nav>

    <!-- {# PROFILE SECTION #} {% load static %} -->
    <section id="profile">
      <div class="section_pic-container">
        <img
          src="images/profile-pic.jpg"
          alt="Bryium Onyancha profile picture"
          class="profile-pic"
        />
      </div>
      <div class="section_text">
        <p class="section_text_p1">Hello, I'm</p>
        <h1 class="title">Bryium Onyancha</h1>
        <p class="section_text_p2">Software Engineer</p>
        <div class="btn-container">
          <button
            class="btn btn-color-2"
            onclick="window.open('images/Resume.pdf', '_blank')"
          >
            Download CV
          </button>

          <button class="btn btn-color-1" onclick="location.href='#contact'">
            Contact info
          </button>
        </div>
        <div id="socials-container">
          <a
            href="https://www.linkedin.com/in/bryium/"
            target="_blank"
            aria-label="My LinkedIn profile"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a
            href="https://github.com/Bryium"
            target="_blank"
            aria-label="My Github profile"
          >
            <i class="fa-brands fa-github" style="color: #000000"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- {# ABOUT SECTION #} -->
    <section id="about">
      <p class="section_text_p1">Get To Know More</p>
      <h1 class="title">About Me</h1>
      <div class="section-container">
        <div class="section__pic-container">
          <img
            src="images/about-pic.jpg"
            alt="profile picture"
            class="about-pic"
          />
        </div>
        <div class="about-details-container">
          <div class="about-containers">
            <div class="details-container">
              <i class="fa-solid fa-award"></i>
              <h3>Experience</h3>
              <p>2+ years <br />Frontend Development</p>
            </div>
            <div class="details-container">
              <i class="fa-solid fa-user-graduate"></i>
              <h3>Education</h3>
              <p>Bachelors Degree<br />B.Sc. Information Technology</p>
            </div>
          </div>
          <div class="text-container">
            <p>
              As a proficient developer, I specialize in creating engaging and
              user-friendly web applications using HTML, CSS (with Tailwind
              CSS), and JavaScript, leveraging React for dynamic capabilities.
              My expertise extends to backend development with Node.js and
              Python, particularly Django, ensuring robust and scalable
              solutions. I excel in database management, API development, and
              Android development with Java, and I deliver high-quality
              cross-platform mobile apps using React Native with Expo and React
              Native CLI. Additionally, I utilize Selenium for web application
              testing within CI/CD pipelines. Driven by a passion for continuous
              learning, I am expanding my skills in machine learning and data
              science.
            </p>
          </div>
        </div>
      </div>

      <i
        class="fa-solid fa-angles-down"
        style="color: #000000"
        class="icon arrow"
        onclick="location.href='./#experience'"
      ></i>
    </section>
    <!-- {# EXPERIENCE SECTION #} -->
    <section id="experience">
      <p class="section_text_p1">Explore My</p>
      <h1 class="title">Experience</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container">
            <h2 class="experience-sub-title">Frontend Development</h2>
            <div
              class="article-container"
              style="display: grid; grid-template-columns: repeat(2, 1fr)"
            >
              <!-- Frontend development details -->
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>HTML</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>CSS</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>JAVASCRIPT</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>REACT</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>TYPESCRIPT</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>NEXT.JS</h3>
                  <p>Intermediate</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Backend Development</h2>
            <div class="article-container">
              <!-- Backend development details -->
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>PYTHON</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>NODE.JS</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>DJANGO</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>JAVASCRIPT</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>DATABASES</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>REST APIs</h3>
                  <p>Experienced</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Android Development</h2>
            <div class="article-container">
              <!-- Android development details -->
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>ANDROID SDK</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>JAVA</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>REACT NATIVE</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>REACTIVE NATIVE CLI</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>VERSION CONTROL</h3>
                  <p>Experienced</p>
                </div>
              </article>
              <article>
                <i class="fa-solid fa-square-check" style="color: #000000"></i>
                <div>
                  <h3>FIREBASE</h3>
                  <p>Experienced</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <i
        class="fa-solid fa-angles-down icon-arrow"
        style="color: #000000"
        onclick="location.href='#projects'"
      ></i>
    </section>

    <section id="projects">
      <p class="section_text_p1">Browse the folder to view the content</p>
      <h1 class="title">Questions</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <h2 class="experience-sub-title project-title">Capstone Project</h2>
            <div class="btn-container"></div>
            <button
              class="btn btn-color-2 project-btn"
              onclick="location.href='https://drive.google.com/drive/folders/1Nfli2R8yXdZIjPh2oq9ZAl-M-YbP6sQB?usp=drive_link'"
            >
              google drive
            </button>
          </div>
        </div>
      </div>
      <i
        class="fa-solid fa-angles-down icon-arrow"
        style="color: #000000"
        onclick="location.href='#contact'"
      ></i>
    </section>

    <section id="contact">
      <p class="section_text_p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <i
            class="fa-solid fa-envelope"
            style="color: #000000"
            class="icon contact-icon"
          ></i>
          <p>
            <a href="mailto:bryiumonyancha@gmail.com"
              >bryiumonyancha@gmail.com</a
            >
          </p>
        </div>
        <div class="contact-info-container">
          <i class="fa-brands fa-linkedin"></i>
          <p>
            <a
              href="https://www.linkedin.com/in/bryium/"
              class="icon container-icon"
              >LinkedIn</a
            >
          </p>
        </div>
      </div>
    </section>

    <footer>
      <nav>
        <div class="nav-links-container">
          <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <p>Copyright &#169; 2024 Bryium Onyancha. All Rights Reserved.</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
